{% extends 'base.html.twig' %}

{% block title %}Hello CalculatorController!{% endblock %}

{% block body %}
    <h1>Calculator</h1>
    <div>
        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message|raw }}
                </div>
            {% endfor %}
        {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
        {% if result is not empty %}
        <div class="form-group">
            <label>Result</label>
            <input class="form-control" type="text" placeholder="{{ result }}" readonly>
        </div>
        {% endif %}
    </div>
{% endblock %}
